@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}

.saving {
    animation: zoominoutsinglefeatured .3s 5;
}

.pay0 {
    background-color: crimson;
    padding: 5px;
    color: white;
}

.pay1 {
    background-color: rgb(87, 255, 45);
    padding: 5px;
    color: white;
}