<button (click)="addnew()" class="btn btn-primary">addNew</button>
<br><br>
<div class="container-fluid">
    <div class="" *ngIf="this.itemsx | async as jak">
        <div class="row">
            <div class="col-sm-6 col-lg-4 text-center p-4" style="" *ngFor="let obj of jak.items">
                <div class="shadow p-3 mb-5 bg-white rounded   rounded p-4 {{obj.status}}" style="position:relative;background-color:white">

                    <div class="zard" style="left:0px;top:0px;position:absolute;width:100%;height:100%;background-color:yellow;z-index:99999;opacity:0.5">

                    </div>


                    <input class="form-control" style="direction:rtl;text-align:right;width:100%" placeholder="title" [(ngModel)]="obj.title" />

                    <input class="form-control" style="direction:rtl;text-align:right;width:100%" placeholder="tiny title" [(ngModel)]="obj.tinytitle" />

                    <input class="form-control" style="width:100%" type="number" [(ngModel)]="obj.price" placeholder="price" />


                    <input class="form-control" style="width:100%" type="text" [(ngModel)]="obj.searchkey" style="direction:rtl;text-align:right;width:100%" placeholder="search key" />

                    <input class="form-control" style="display:none" type="file" (change)="fileselect($event.target, obj)" />

                    <button *ngIf="obj.id > 0" (click)="cat(obj)" class="btn btn-success m-1">cat</button>

                    <button (click)="addphoto(obj)" class="btn btn-success m-1">addphoto</button>

                    <hr />

                    <div style="position:relative" *ngFor="let im of obj.gal">
                        <button class="btn btn-danger" (click)="obj.gal.splice(obj.gal.indexOf(im), 1)">x</button>
                        <img style="border:1px solid black;max-width:50px;" src="{{ im['small'] | addbefore }}" />
                    </div>

                    <textarea class="m-2 form-control" [(ngModel)]="obj.caption" style="direction:rtl;text-align:right;min-height:150px;width:100%"></textarea>

                    <button (click)="obj.save()" class="btn btn-success m-1">save</button>
                    <button (click)="remove(obj)" class="btn btn-danger m-1">
            remove
          </button>
                    <br>
                    <a *ngIf="obj.id > 0" class="btn btn-warning" target="_blank" href="https://www.behkiana.ir/instagen.php?title={{obj.title}}&tinytitle={{obj.tinytitle}}&price={{obj.price}}&dtl={{obj.dtl}}&imagesrc={{ obj.gal[0]['big']}}">instagen</a>

                    <input type="checkbox" *ngIf="obj.id > 0" value="1" [(ngModel)]="obj.instagramed" />

                </div>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary m-3" (click)="this.latest.more()">more</button>