<div class="" *ngIf="this.itemsx | async as jak">

    <div *ngFor="let obj of jak.items" class="rounded border border-primary m-2 p-2  {{obj.status}}" style="direction:ltr">

        
       <div style="background-color: deepskyblue;padding:1rem;border-radius:4px"> {{obj.time}} </div>
        <br>
        {{obj.url}}
        <br>
        <small>
        {{obj.useragent}}
    </small>
      


    </div>

    <button class="btn btn-primary m-3" (click)="this.latest.more()">more</button>
    
</div>